<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jspPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- <context-param> 
  <description>sample1</description>
  <param-name>pname</param-name>
  <param-value>10</param-value>
  </context-param>
  <context-param> 
  <description>sample2</description>
  <param-name>debug</param-name>
  <param-value>true</param-value>
  </context-param>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/ch05_Exception/error404.jsp</location>
  </error-page>
  <error-page>
  <error-code>500</error-code>
  <location>/ch05_Exception/error500.jsp</location>
  </error-page>
  <error-page>
  <exception-type>java.lang.NumberFormatException</exception-type>
  <location>/ch05_Exception/errorNumberFormat.jsp</location>
  </error-page> -->
  
  
</web-app>